$container-bg: #000;
.container{
    
    .row{
        height: 100vh;
        .left-portion{
            background: $container-bg;
            // padding-bottom: 250px;
            width: 100%;
                .row{
                    .person{
                        color: #fff;

                        // &::before{
                        //     content: "";
                        //     height: 10px;
                        //     width: 98%;
                        //     background: red;
                        //     position: absolute;
                        //     top: 55px;
                        //     left: 16px;
                        // }

                        .name{
                        }

                        .contact{
                            margin-top: 45px;
                            p{
                                display: flex;
                                span{
                                    margin: 0 5px;
                                }
                                
                            }
                        }

                        .experience{
                            h2{
                                text-align: right;
                            }

                            p{
                                text-align: justify;
                            }
                        }

                        .education{
                            text-align: right;

                            h3{
                                font-size: 20px;
                            }
                        }
                    }
                }
            
        }
        .right-portion{
            background: #fff !important;
            width: 100%;

            .profile{
                h2{
                    text-transform: uppercase;
                }
                p{
                    text-align: justify;
                }
            }

            .skill{
                h2{
                    text-transform: uppercase;
                }
                ul{
                    list-style: none;
                    li{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}