<div class="container">
  <div class="row">
    <div class="col-md-7 left-portion">
        <div class="row mt-5">
          <div class="col-md-2"></div>
          <div class="col-md-10 person">
            <div class="name">
              <h2>Tonmoy Chiran</h2>
            </div>
            <div class="contact">
              <p>tonmoychiran449@gmail.com</p>
              <p>+8801869701485</p>
              <p>https://chiran-tonmoy.netlify.app</p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-5 right-portion">
      <h2>Hello</h2>
    </div>
  </div>
</div>